<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7cccbd74-333a-4ea9-a9df-eb1668ab926b/resourceGroups/OnBudget/providers/Microsoft.Web/sites/OnBudget20170924101531</ResourceId>
    <ResourceGroup>OnBudget</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://onbudget20170924101531.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>onbudget20170924101531.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnBudget20170924101531</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OnBudget20170924101531</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_NotificationHubConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_NotificationHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MS_TableConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:onbudget20170924101531dbserver.database.windows.net,1433;Initial Catalog=OnBudget20170924101531_db;User ID=quikkz@onbudget20170924101531dbserver;Password=ramoneS123" Name="Data Source=tcp:onbudget20170924101531dbserver.database.windows.net,1433;Initial Catalog=OnBudget20170924101531_db;User Id=quikkz@onbudget20170924101531dbserver;Password=ramoneS123" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-OnBudget.MobileAppService-20160623055337.mdf;Initial Catalog=aspnet-OnBudget.MobileAppService-20160623055337;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_TableConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-OnBudget.MobileAppService-20160623055337.mdf;Initial Catalog=aspnet-OnBudget.MobileAppService-20160623055337;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_NotificationHubConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:onbudget20170924101531dbserver.database.windows.net,1433;initial catalog=OnBudget20170924101531_db;user id=quikkz@onbudget20170924101531dbserver;password=ramoneS123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>